[submodule "push-swap-pain"]
	path = push-swap-pain
	url = https://github.com/Bluegales/push-swap-pain
[submodule "libftprintf"]
	path = libftprintf
	url = https://github.com/Neko-Sato/42cursus-ft_printf
